{% extends "layout.html" %}

{% block content %}

    <aside>
      <h2>SUBMENU</h2>
      <nav>
        <ul class="aside-menu">
            {% for subj in subjs %}
              <li><a href="#">{{subj}}</a></li>
            {% endfor %}
        </ul>
      </nav>
    </aside>
    <article>
    <section>
            {% for row in processed_files %}
                <h2>
                    Идентификатор: {{row[0]}}
                </h2>
                <h3>
                    Имя: {{row[1]}}
                </h3>
                <p>
                    Дата обработки: {{row[2]}}
                </p>
            {% endfor %}
        </section>
        <section>
            {% for image in imgs %}
                <figure><img src="/static/images/{{image}}" alt=""></figure>
            {% endfor %}
        </section>
    </article>

{% endblock %}