<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Find hotels</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
		<body>
			<div class="wrapper">
				<header>
					<a href="/"><img src="images/footer_logo.png" alt="Whitesquare logo"></a>
					<form name="search" class="input" action="#" method="get">
						<input type="text" name="q" placeholder="City, hotel or airport"><button type="submit">Find</button>
					</form>
				</header>
				<nav>
					<ul class="top-menu">
						<li class="active"><a href="#">HOME</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="#">SERVICES</a></li>
						<li><a href="#">PROJECTS</a></li>
						<li><a href="#">MEMBERS</a></li>
						<li><a href="#">CONTACT</a></li>
					</ul>
				</nav>
					<main>
					<aside class="aside">
						<aside1>
							<h2>MENU</h2>
							<nav>
								<ul class="aside-menu">
									<li class="active">Categories</li>
									<li><a href="#">City</a></li>
									<li><a href="#">Rating</a></li>
								</ul>
							</nav>
						</aside1>
					</aside>
					<article>
						<section>
								<h2>
									&ldquo;Want to find a cozy and beautiful place to spend the night? Welcome to our site!&rdquo;
								</h2>
				
							<p>►We work directly with thousands of hotels, dozens of suppliers and control room prices. That's why we  always have great deals on popular destinations.</p>
							<p>►We have over 1,800,000 accommodation options worldwide. These include hotels, hostels, apartments,  villas and even campsites. Whatever the season, you'll find what's right for you.</p>
							<p>►You choose your own payment method. You can pay immediately - we support most bank cards. Or you  can pay at the hotel upon check-in.</p>
							<p>►Support operators will help with hotel selection and reservations. If a question arises during your trip, the  operator will be in touch and find a solution as soon as possible.</p>
							<p>►We collect and publish traveler reviews, and we also add TripAdvisor reviews. That way you get even  more information about the hotel.</p>
						</section>
						<section>
							<figure>
								<img src="images/nesterov.png" width="320" height="200" alt="">
							</figure>
							<figure>
								<img src="images/bash.png" width="320" height="200" alt="">
							</figure>
						</section>
					</article>
				</main>
			</div>
			<footer>
				<div class="footer">
					<div id="social">
						<h3>SOCIAL NETWORKS</h3>
						<a href="https://vk.com" class="social-icon twitter"></a>
						<a href="http://google.com/" class="social-icon google"></a>
					</div>
					<div id="footer-logo">
						<a href="/"><img src="images/footer_logo.png" alt="Whitesquare logo"></a>
					</div>
				</div>
			</footer>
		</body>
</html>